
.container-top {
    padding-top: 56px; /* Ajuste conforme a altura da sua navbar */
}

.conteiner-flex{
    width: 100%;
    display: block;
}

.form-outline {
    margin: 0px 10px 10px 0;
    position: relative;
    width: 100%;
}
