<div class="container">
    <div class="card p-4">
        <h5 class="card-title text-center">LOGIN</h5>
        <form>
            <mdb-form-control>
                <input
                    mdbInput
                    type="text"
                    id="form1"
                    class="form-control mb-3"
                    name="username"
                    [(ngModel)]="login.username"
                    placeholder="Usuário"
                />
            </mdb-form-control>
            <mdb-form-control>
                <input
                    mdbInput
                    type="password"
                    id="form1"
                    class="form-control mb-3"
                    name="password"
                    [(ngModel)]="login.senha"
                    placeholder="Senha"
                />
            </mdb-form-control>
            <button
                type="button"
                (click)="authenticar()"
                class="btn btn-primary w-100 mb-2"
            >
                Entrar
            </button>
            <button
                type="button"
                (click)="votar()"
                class="btn btn-secondary w-100"
            >
                Votar
            </button>
        </form>
    </div>
</div>
