<br />
<div class="container conteiner-flex container-top">
    <mdb-form-control>
        <input mdbInput type="text" name="candidatoNome" class="form-control input-width" />
        <label mdbLabel class="form-label" for="candidatoNome">Nome do Candidato</label>
    </mdb-form-control>
    <mdb-form-control>
        <input mdbInput type="text" name="candidatoNumero" class="form-control" />
        <label mdbLabel class="form-label" for="candidatoNumero">CPF</label>
    </mdb-form-control>
    <mdb-form-control>
        <input mdbInput type="text" name="candidatoNumero" class="form-control" />
        <label mdbLabel class="form-label" for="candidatoNumero">Profissão</label>
    </mdb-form-control>

      
</div>
<br>
<div class="container conteiner-flex">

    <mdb-form-control>
        <input mdbInput type="text" name="candidatoNome" class="form-control input-width" />
        <label mdbLabel class="form-label" for="candidatoNome">Tel. Celular</label>
    </mdb-form-control>
    
    <mdb-form-control>
        <input mdbInput type="text" name="candidatoNumero" class="form-control" />
        <label mdbLabel class="form-label" for="candidatoNumero">Tel. Fixo</label>
    </mdb-form-control>
    <mdb-form-control>
        <input mdbInput type="text" name="candidatoNumero" class="form-control" />
        <label mdbLabel class="form-label" for="candidatoNumero">Email</label>
    </mdb-form-control>

    <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">Salvar</button>
</div>
